.marker-builder {
  border: 2px solid red;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 12px;
  display: block;

  .tooltip {
    width: 150px;
    display: block;
    margin-top: 12px;
    margin-left: 12px;
    &.show {
      display: block;
      background-color: #90b8e2;
      border: 1px solid gray;
    }
    &.hide {
      display: none;
    }
  }
}
